$baiscRem:20px;
@function rem($px){
  @return ($px / $baiscRem) * 1rem;
}

@mixin screen-3(){
  @media screen and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}
.body-bg{
  background: none;
  .page-group{
    background: none;
    .page{
      background: none;
    }
  }
}
.top-5{
  margin-top: rem(5px);
  margin-bottom: 0;
}
.top-20{
  margin-top: rem(20px);
  margin-bottom: 0;
}
#none{
  display: none;
}
.none{
  display: none;
}
.game-info{
  margin-bottom: 20px;
}
.head-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head{
  width: rem(60px);
  height: rem(60px);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #eee;
}
.head-text{
  font-size: 12px ;
  padding-bottom: 2px;
}
.msg-error{
  border: 1px solid #ffe3e0;
  background: #fff2f2;
  color: #ea4a36;
  padding: rem(10px);
  h2{
    margin: 0;
    font-size: 14px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
  }
}
.recharge-msg{
  margin-bottom: rem(20px);
}
.recharge{
  display: flex;
  justify-content: center;
  padding-bottom: rem(10px);
  label{
    flex: 0 0 92%;
    position: relative;
  }
  .game-icon{
    font-size: 24px;
    color: red;
    position: absolute;
    top: -8px;
    left: 3px;
  }
}
.game-radio{
  display: none;
}
.game-radio+.radio-text{
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 5px;
  position: relative;
  overflow: hidden;
  .game-name{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .game-pice{
    margin: 0;
    color: #ea4a36;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
  .o-pice{
    margin: 0;
    font-size: 10px;
    text-align: center;
    color: #333;
    font-weight: lighter;
  }
  .gou-icon{
    color: red;
    position: absolute;
    right:-1px;
    bottom: -5px;
    display: none;
  }
}
.game-radio:checked+.radio-text{
  border-color: red;
  .gou-icon{
    display: block;
  }
}
.recharge-sum{
  margin: 0;
  font-size: 14px;
  span{
    font-size: 24px;
    font-weight: bold;
    color: #ea4a36;
  }
}

.center-bg{
  background: url("../img/2x/banner@2x.png") no-repeat;
  background-size: 100% 100%;
  margin-bottom: rem(10px);
}
@include screen-3(){
  .center-bg{
    background: url("../img/3x/banner@3x.png") no-repeat;
    background-size: 100% 100%;
  }
}
.center-header{
  min-height: rem(95px);
  display: flex;
  align-items: center;
}
.center-box{
  flex: 0 0 25%;
  text-align: right;
  padding-right: rem(15px);
  .center-head{
    width: rem(62px);
    height: rem(62px);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #eee;
  }
}
.center-info{
  flex: 0 0 75%;
  font-size: 12px;
  color: #fff;
  .center-info-one{
    display: flex;
    justify-content: space-between;
    padding-right: rem(28px);
    margin-bottom: rem(10px);
  }
  .center-info-two{
    display: flex;
    justify-content: space-between;
    padding-right: rem(28px);
    a{
      color: #fff;
      text-decoration: underline;
    }
  }
  .center-bind-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{
      width: rem(20px);
      height: rem(20px);
      border-radius: 50%;
      border: 1px solid #fff;
      margin-right: rem(6px);
    }
  }
}

.center-red-box{
  display: flex;
  align-items: center;
  min-height: rem(60px);
  background: rgba(#000,.2);
  .center-red{
    flex: 0 1 25%;
    p{
      margin: 0;
      font-size: 12px;
      color: #efefef;
      text-align: center;
    }
  }
  .center-line{
    width: rem(1px);
    height: rem(36px);
    background: linear-gradient(to bottom, rgba(#fff,0), rgba(#fff,.7), rgba(#fff,0));
  }
  .center-red:last-child{
    border-right: none;
  }
}
.center-task{
  background: #fff;
  padding-bottom: rem(10px);
  .center-task-title{
    font-size: 14px;
    padding: rem(6px) 0;
    border-bottom: 1px solid #eee;
    .center-fuli{
      color: #df3d3e;
      margin-right: rem(5px);
    }
  }
  .center-task-text{
    padding-top: rem(10px);
  }
  p{
    margin: 0;
    font-size: 12px;
  }
  .center-task-ok{
    background: #43cd6e;
    display: inline-block;
    color: #fff;
    padding: rem(1px) rem(5px);
    border-radius: rem(3px);
  }
  .center-task-no{
    background: #ea4a36;
    display: inline-block;
    color: #fff;
    padding: rem(1px) rem(5px);
    border-radius: rem(4px);
  }
  .center-task-situation{
    display: inline-block;
    padding: rem(1px) rem(5px);
  }
}
.center-list{
  margin-top: rem(10px);
  margin-bottom: 0;
}

.center-gerenxinxi{
  color: #32a0fe;
}
.center-hongbao1{
  color: #df3d3e;
}
.center-paiming{
  color: #fed532;
}
.center-fenxiang1{
  color: #43cd6e;
}
.center-fenxiang{
  color: #85d0e7;
}
.center-anquan{
  color: #43cd6e;
}
.register-icon{
  color: #d2d2d2;
  font-size: 20px;
}
.register-code{
  margin: 0;
}
.register-title{
  margin-top: rem(10px);
  font-size: 12px;
}
.bar-light{
  background: #fff;
}
.info-head{
  margin-top: rem(5px);
  margin-bottom: rem(25px);
  .info-img-box{
    padding-top: rem(15px);
    padding-bottom: rem(15px);
  }
  .info-img{
    width: rem(60px);
    height: rem(60px);
  }
}
.info-info{
  margin-top: 0;
}
.info-picker{
  justify-content: flex-end;
}
#info-birthday,#info-sex{
  padding: 0;
  height: auto;
  text-align: right;
}
.head-content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
    height: auto;
  }
}
.upload-box{
  position: relative;
}
#upload{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
}

.recommender-box{
  width: rem(200px);
  height: rem(120px);
  background: url('../img/2x/recommender@2x.png') no-repeat top left;
  background-size: 100%;
  position: relative;
  img{
    width: rem(45px);
    height: rem(45px);
    border-radius: 50%;
    position: absolute;
    top: rem(22px);
    left: rem(27px);
  }
  .recommender-info{
    position: absolute;
    top: rem(28px);
    left: rem(87px);
    p{
      margin: 0;
      font-size: 10px;
      color: #262626;
    }
  }
}
.recommender-position{
  margin: rem(75px)auto 0;
}
@include screen-3(){
  .recommender-position{
    margin: rem(112px)auto 0;
  }
  .recommender-bind-position{
    margin: rem(30px) auto 0;
  }
  .recommender-box{
    width: rem(300px);
    height: rem(180px);

    background: url('../img/3x/recommender@3x.png') no-repeat top left;
    background-size: 100%;
    position: relative;
    img{
      width: rem(68px);
      height: rem(68px);
      border-radius: 50%;
      position: absolute;
      top: rem(33px);
      left: rem(40px);
    }
    .recommender-info{
      position: absolute;
      top: rem(42px);
      left: rem(130px);
      p{
        margin: 0;
        font-size: 14px;
        color: #262626;
      }
    }
  }
}
.recommender-bind-title{
  margin-top: rem(10px);
  font-size: 12px;
}
.recommender-bind-code{
  margin: 0;
}
.recommender-bind-prompt{
  height: rem(25px);
  display: flex;
  justify-content: center;
  align-items: center;
 }
.recommender-bind-btn{
  margin: 0;
}
.recommender-bind-other{
  margin-top: rem(50px);
  font-size: 12px;
}
.recommender-bind-position{
  margin: rem(20px) auto 0;
}
.no-data{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: -1;
  img{
    width: rem(80px);
    margin-bottom: rem(20px);
  }
  .data-text{
    font-size: 16px;
  }
  p{
    margin: 0;
    font-size: 12px;
    a{
      text-decoration: underline;
      color: #1c71ff;
      font-weight: 600;
    }
    a:visited{
      color: #1c71ff;
    }
  }
}
.red-list-bg:nth-child(n){
  background: #e5e5e5;
}
.red-list-bg:nth-child(2n){
  background: #fff;
}
.contacts-img{
  width: rem(45px);
  height: rem(45px);
}
.contacts-title{
  font-size: 16px;
}
.contacts-subtitle{
  font-size: 12px;
}
.id-upload-title{
  margin-top: rem(10px);
}
.id-upload-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .item-media{
    margin-right: rem(15px);
    display: none;
  }
}
.id-upload-btn{
  padding-top: rem(7px);
  padding-bottom: rem(8px);
  position: relative;
  overflow: hidden;
  #id_upload{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }
  .id-btn{
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0;
    color: #c8c9cb;
    line-height: rem(80px);
    i{
      font-size: rem(80px);
    }
  }
}
.id-prompt{
  height: 18px;
}
.id-upload{
  margin: 0;
}

.extension-box{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .extension{
    padding: rem(12px);
    position: relative;
    margin-bottom: rem(15px);
  }
  .extension-img{
     width: 180%;
     position: absolute;
    z-index: -1;
     top: -39px;
     left: -24px;
   }
  .QR-code{
    width: rem(100px);
    height: rem(100px);
  }
  p{
    margin: 0;
    font-size: 16px;
  }
  .extension-code{
    font-size: 24px;
    font-weight: 800;
    color: #00b3e9;
  }
}
@media screen and (min-width: 768px) {
.extension-box {
  .extension{
    padding: rem(24px);
  }
  .extension-img{
    width: 170%;
    top: -80px;
    left: -44px;
  }
  .QR-code{
    width: rem(180px);
    height: rem(180px);
  }
}
}
.prompt-text{
  color: #df3d3e;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.recommender-prompt-box{
  height: 18px;
  width: 55%;
  .recommender-prompt-text{
    color: #df3d3e;
    font-size: 12px;
    margin: 0;
  }
}
